@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: pink;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: lightblue;
}

#column-2 {
  background: green;
}

#column-3 {
  background:yellow;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: red;
  }

  #column-1 {
    background-color: orange;
  }

  #column-2 {
    background-color: purple;
  }

  #column-3 {
    background-color: royalblue;
    width: 100%;
  }

  footer {
    background-color: silver;
  }
  .col-3 {
	width: 50%;
  } 
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #D2691E;
  }

  #column-1 {
    background-color: #HDC143C;
    width: 33.3%;
  }

  #column-2 {
    background-color: #7FFF00;
    width: 33.3%;
  }

  #column-3 {
    background-color: #8A2BE2;
    width: 33.3%;
  }

    footer {
    background-color: #DCDCDC;
}

    .color-3 {
	width: 33.3%;
  }
}
  




